{% if items.item is defined %}<script src="//cdn.haase-it.com/lazysizes/1.1.0/lazysizes.min.js" async="async"></script><div id="itemoverview">{%
    for thisitem in items.item %}<div class="pure-u-1-3 pure-u-md-1-4">
    <div class="itemoverview-thumbnail">
        <a href="{{path.dirname}}/item/{{thisitem.itm_no}}.html"><img
                    class="lazyload pure-u-1"
                    data-sizes="auto"
                    data-srcset="{{ ImgURL('/_img/items/'~thisitem.itm_img, 400) }} 400w, {{ ImgURL('/_img/items/'~thisitem.itm_img, 100) }} 100w, {{ ImgURL('/_img/items/'~thisitem.itm_img, 200) }} 200w, {{ ImgURL('/_img/items/'~thisitem.itm_img, 300) }} 300w"
                    src="{{ ImgURL('/_img/items/'~thisitem.itm_img, 400) }}"
                    alt=""></a>
        <div class="itemoverview-caption">
            <p style="float: left;"><a href="{{path.dirname}}/item/{{thisitem.itm_no}}.html">
                    {% if thisitem.itml_name_override|trim == '' %}
                        {{thisitem.itm_name}}
                    {% else %}
                        {{thisitem.itml_name_override}}
                    {% endif %}
                </a></p>
            <p class="pull-right">
                {{ thisitem.pricedata.netto_sale is defined or thisitem.pricedata.netto_rebated is defined ? '<span class="sale-listprice">' : '' }}
                {#Netto: {{thisitem.pricedata.netto_list|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}<br>#}
                {#Brutto: #}{{thisitem.pricedata.brutto_list|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}
                {{ thisitem.pricedata.netto_sale is defined or thisitem.pricedata.netto_rebated is defined ? '</span><br>' : '' }}
                {% if thisitem.pricedata.netto_sale is defined and (thisitem.pricedata.netto_rebated is not defined or thisitem.pricedata.netto_sale < thisitem.pricedata.netto_rebated) %}
                    {#Angebotspreis#}
                    {#Netto: {{thisitem.pricedata.netto_sale|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}<br>#}
                    {#Brutto: #}<span class="salesprice">{{thisitem.pricedata.brutto_sale|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}</span>
                {% endif %}
                {% if thisitem.pricedata.netto_rebated is defined and (thisitem.pricedata.netto_sale is not defined or thisitem.pricedata.netto_rebated < thisitem.pricedata.netto_sale) %}
                    {#Ihr Preis:<br>#}
                    {#Netto: {{thisitem.pricedata.netto_rebated|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}<br>#}
                    {#Brutto: #}{{thisitem.pricedata.brutto_rebated|number_format(numberformat_decimals, numberformat_decimal_point, numberformat_thousands_seperator)}} {{currency}}
                {% endif %}
            </p>
            <br class="clear">
        </div>
    </div>
    </div>{% endfor %}</div>
    {{T("misc_disclaimer_prices")}}
{% else %}
{{ T("itemoverview_no_items_found") }}
{% endif %}
{#
No: {{thisitem.itm_no}}<br>
Vatid: {{thisitem.itm_vatid}}<br>
Rebategroup: {{thisitem.itm_rg}}<br>
Group: {{thisitem.itm_group}}<br>
#}
