{% if customdata.updatestatus == 'success' %}
    <b>{{ HT('changescommitted') }} {{ macro.showClientTime() }}</b><br><br>
{% elseif customdata.updatestatus == 'duplicateno' %}
    <strong>{{ HT('itemgroupadmin_info_duplicateno') }}</strong><br><br>
{% elseif customdata.groupjustadded %}
    {{ HT('itemgroupadmin_info_groupjustadded') }}<br><br>
{% endif %}
{{  customdata.err.nametooshort ? HT('itemgroupadmin_error_nametooshort')~'<br>' : '' }}
{{  customdata.err.grouptooshort ? HT('itemgroupadmin_error_grouptooshort')~'<br>' : '' }}
{{  customdata.err.duplicateno ? HT('itemgroupadmin_error_duplicateno')~'<br>' : '' }}
{% if customdata.showform is defined %}
    <style type="text/css">
        #groupadmin-name, #groupadmin-no, #groupadmin-img{width: 520px;}
        #groupadmin-shorttext, #groupadmin-details{width: 520px;height: 200px;}
        #groupadmin-submit{width: 520px;}
    </style>
    <form action="{{ customdata.group.formaction }}" method="post">
        <input type="hidden" name="do" value="true">
        {{ HT('itemgroupadmin_name') }}<br>
        <input type="text" name="name" value="{{ customdata.group.name }}" id="groupadmin-name"><br>
        {{ HT('itemgroupadmin_no') }}<br>
        <input type="text" name="no" value="{{ customdata.group.no }}" id="groupadmin-no"><br>
        {{ HT('itemgroupadmin_image') }}<br>
        <input type="text" name="img" value="{{ customdata.group.img }}" id="groupadmin-img"><br>
        {% if customdata.showform == 'edit' %}
            {% if customdata.group.lang is defined %}
                {{ HT('itemgroupadmin_text') }}<br>
                <textarea name="shorttext" rows="8" cols="70" id="groupadmin-shorttext">{{ customdata.group.lang.shorttext }}</textarea><br>
                {{ HT('itemgroupadmin_details') }}<br>
                <textarea name="details" rows="8" cols="70" id="groupadmin-details">{{ customdata.group.lang.details }}</textarea><br>
            {% else %}
                {{ HT('itemgroupadmin_info_nolanguagespecificdataexists') }}
                <a href="/_admin/itemgroupadmin.html?action=insert_lang&gid={{ customdata.group.id }}">{{ HT('itemgroupadmin_info_addlanguagespecificdata') }}</a><br>
            {% endif %}
        {% endif %}
        <input type="submit" value="{{ HT('itemgroupadmin_submit') }}" id="groupadmin-submit">
    </form>
{% else %}
    <a href="/_admin/itemgroupadmin.html?action=addgroup">{{ HT('itemgroupadmin_add') }}</a><br><br>
{% endif %}
{{  customdata.err.nogroupsavaliable ? HT('itemgroupadmin_error_nogroupsavailable') : '' }}
{{ content }}
