<style type="text/css">
    #itemadmin-data{height: 230px;}
    #itemadmin-text1{height: 230px;}
    #itemadmin-text2{height: 230px;}
</style>
<form action="/_admin/shop/itemadmin.html" method="GET" class="pure-form">
    <input type="hidden" name="action" value="search">
    <fieldset name="itemsearch">
        <legend>Artikelsuche</legend>

        <div class="pure-u-5-24"><label for="itemadmin-searchstring">Search for:</label><br>
            <input type="text" name="searchstring" value="{{ gFF("searchstring") }}" id="itemadmin-searchstring" class="formfieldwithpaddingright"></div><div
            class="pure-u-4-24"><label for="itemadmin-searchcats">Search in:</label><br>
            {{ macro.select("searchcat", customdata.searchform.searchcats, customdata.searchform.searchcat, 'itemadmin-searchcats', 'formfieldwithpaddingright') }}</div><div
            class="pure-u-4-24"><label for="itemadmin-orderby">Order by:</label><br>
            {{ macro.select("orderby", customdata.searchform.orderbys, customdata.searchform.orderby, 'itemadmin-orderby', 'formfieldwithpaddingright') }}</div><div
            class="pure-u-4-24"><br><button type="submit" class="pure-button pure-button-primary formfieldwithoutpadding">Submit</button></div>

    </fieldset>
</form>
<hr>
{% if customdata.itemupdated %}
    <b>Der Artikel wurde aktualisiert ({{ macro.showClientTime() }}).</b><br><br>
{% endif %}
{% if customdata.searchresult and customdata.itemlist is not defined and customdata.item is not defined %}
    No matches found.<br><br>
{% endif %}
{% if customdata.itemlist is defined %}
    Displaying {{ customdata.itemlist.numrows }} results:<br><br>
    {{ customdata.itemlist.listtable }}
{% elseif customdata.item is defined %}
    <form method="post" action="{{ customdata.item.form.action }}" name="itemadmin" class="pure-form pure-form-stacked">
        <input type="hidden" name="id" value="{{ customdata.item.id }}">
        <input type="hidden" name="doaction" value="edititem">
        <fieldset name="itemadmin-base">
            <legend>Sprachunabhängig</legend>

            <div class="pure-u-3-24"><label for="itemadmin-itemno">Artikelnr:</label><input type="text" name="itemno" value="{{ customdata.item.itemno }}" id="itemadmin-itemno" readonly class="formfieldwithpaddingright"></div><div
                    class="pure-u-21-24"><label for="itemadmin-name">Artikelname:</label><input type="text" name="name" value="{{ customdata.item.name }}" id="itemadmin-name" class="formfieldwithoutpadding"></div>

            <div class="pure-u-1-2"><label for="itemadmin-img">Artikelbild:</label><input type="text" name="bild" value="{{ customdata.item.img }}" class="formfieldwithpaddingright" id="itemadmin-img"></div><div
                    class="pure-u-3-24"><label for="itemadmin-price">Preis:</label><input type="text" name="price" value="{{ customdata.item.price }}" class="formfieldwithpaddingright" id="itemadmin-price"></div>{%
            if customdata.item.vatoptions is defined %}<div
                    class="pure-u-3-24"><label for="itemadmin-vat">MwSt:</label>{{ macro.select('vatid', customdata.item.vatoptions, customdata.item.vatid, 'itemadmin-vat', 'formfieldwithpaddingright') }}</div>{%
            endif %}<div class="pure-u-3-24"><label for="itemadmin-rg">RG:</label>{{ macro.select('rg', customdata.item.rgoptions, customdata.item.rg, 'itemadmin-rg', 'formfieldwithpaddingright') }}</div><div
                    class="pure-u-3-24"><label for="itemadmin-weight">Gewicht (g):</label><input type="text" name="weight" value="{{ customdata.item.weight }}" class="formfieldwithoutpadding" id="itemadmin-weight"></div>

            <div class="pure-u-1-2"><label for="itemadmin-index">Artikelindex:</label>
                <input type="text" name="index" value="{{ customdata.item.index }}" id="itemadmin-index" class="formfieldwithpaddingright"></div><div
                class="pure-u-3-24"><label for="itemadmin-prio">Prio:</label>
                <input type="text" name="prio" value="{{ customdata.item.prio }}" id="itemadmin-prio" class="formfieldwithpaddingright"></div><div
                class="pure-u-9-24"><label for="itemadmin-group">Artikelgruppe:</label>
                {{ macro.select('group', customdata.item.groupoptions, customdata.item.group, 'itemadmin-group', 'formfieldwithoutpadding') }}</div>

            <div class="pure-u-1"><label for="itemadmin-data">Zusatzdaten (JSON):</label>
            <textarea name="data" id="itemadmin-data" class="formfieldwithoutpadding">{{ customdata.item.data }}</textarea></div>

        </fieldset>

        {% if customdata.item.lang is defined %}
            <fieldset name="itemadmin-lang">
                <legend>Sprachspezifisch</legend>
                <input type="hidden" name="textid" value="{{ customdata.item.lang.textid }}">

                <div class="pure-u-1"><label for="itemadmin-nameoverrride">Name override:</label>
                    <input type="text" name="name_override" value="{{ customdata.item.lang.nameoverride }}" id="itemadmin-nameoverrride" class="formfieldwithoutpadding"></div>

                <div class="pure-u-1"><label for="itemadmin-text1">Text 1:</label>
                <textarea name="text1" id="itemadmin-text1" class="formfieldwithoutpadding">{{ customdata.item.lang.text1 }}</textarea></div>

                <div class="pure-u-1"><label for="itemadmin-text2">Text 2:</label>
                <textarea name="text2" id="itemadmin-text2" class="formfieldwithoutpadding">{{ customdata.item.lang.text2 }}</textarea></div>

            </fieldset>
        {% else %}
            <br>
            In dieser Sprache sind noch keine Texte angelegt!
            <a href="/_admin/shop/itemadmin.html?itemno={{ customdata.item.itemno }}&action=insert_lang">[Anlegen]</a>
            <br>
            <br>
        {% endif %}
        <button type="submit" class="pure-button pure-button-primary formfieldwithoutpadding" id="itemadmin-submit">Submit</button>
    </form>
    <pre>
Zusatzdaten:
{
    "size":"|S|M|L|XL",
    "suggestions":"0011|0012|0001|0002",
    "sale": {
        "price":79.99,
        "start":"20140809",
        "end":"20140826"
    },
    "detailimg":["image1.jpg","image2.jpg"],
    "soldout":false
}
- set soldout to true and the item will not be orderable

Artikelindex:
Bei meherern Indizies, die einzelnen Indizies mit einer | trennen, z.B.: A020|A030
Bei HTML Tags, die Anführungszeichen enthalten unbedingt single quotes (\') verwenden! Beispiel: &lt;img src=\'/_img/gr_damen_t-shirts.jpg\'>
Keine Zeilenumbrüche in Zeichenketten, sonst funktioniert das ganze nicht!
</pre>
{% elseif customdata.showaddform %}
    {{ customdata.err.itemnotooshort ? 'Bitte verwenden Sie mindestens 4 Zeichen für die Artikelnummer.<br><br>' : '' }}
    {{ customdata.err.itemnoalreadytaken ? 'Diese Artikelnummer ist bereits vergeben.<br><br>' : '' }}
    <form action="/_admin/shop/itemadmin.html?action=additem" method="POST" name="additem" class="pure-form">
        <input type="hidden" name="additem" value="do">
        <input type="text" name="itemno" value="{{ gFF("itemno") }}" class="formtext" id="itemadmin-add-itemno" placeholder="Artikelnummer">
        <button type="submit" class="pure-button pure-button-primary">Artikel anlegen</button>
    </form>
{% else %}
    <a href="/_admin/shop/itemadmin.html?action=additem">[Artikel hinzufügen]</a><br>
{% endif %}
