{% set searchform_types = ['openinwork|'~T("order_status_open_or_inwork"), 'open|'~T("order_status_open"), 'inwork|'~T("order_status_inwork"),
'closed|'~T("order_status_completed"), 'all|'~T("order_status_all_valid"), 'storno|'~T("order_status_canceled"), 'deleted|'~T("order_status_deleted"),] %}
<style type="text/css">
    #shadm_remarks_internal{height: 150px;}
    #shsrc_submit{margin:0.25em 0;}
</style>
<form action="{{ requesturiarray.path }}" method="get" class="pure-form pure-form-stacked">
    <div class="pure-u-5-24">
        Zustand:<br>
        {{ macro.select('type', searchform_types, customdata.searchform_type, '', 'pure-u-1') }}
    </div><div class="pure-u-5-24">
        Von:<br>
        <div class="pure-u-1-4"><input type="text" name="fromday" maxlength="2" value="{{ customdata.searchform_fromday }}" class="pure-u-1"></div><div
            class="pure-u-1-4"><input type="text" name="frommonth" maxlength="2" value="{{ customdata.searchform_frommonth }}" class="pure-u-1"></div><div
            class="pure-u-1-2"><input type="text" name="fromyear" maxlength="4" value="{{ customdata.searchform_fromyear }}" class="pure-u-1"></div>
    </div><div class="pure-u-5-24">
        Bis:<br>
        <div class="pure-u-1-4"><input type="text" name="today" maxlength="2" value="{{ customdata.searchform_today }}" class="pure-u-1"></div><div
                class="pure-u-1-4"><input type="text" name="tomonth" maxlength="2" value="{{ customdata.searchform_tomonth }}" class="pure-u-1"></div><div
                class="pure-u-1-2"><input type="text" name="toyear" maxlength="4" value="{{ customdata.searchform_toyear }}" class="pure-u-1"></div>
    </div><div class="pure-u-9-24">
        <br>
        <button type="submit" class="pure-button pure-button-primary pure-u-1" id="shsrc_submit">Los...</button>
    </div>
</form>
(Datumseingrenzung nur bei Filtern nach Zustand "Alle", "Abgeschlossen" oder "Gelöschte" berücksichtigt.)

{% if customdata.customerform is defined and customdata.shoppingcart is defined %}
    <hr>
    <form action="{{ requesturiarray.path }}" method="post" class="pure-form pure-form-aligned">
        {% if customdata.orderdata.o_authed == 'y' %}
    Der Kunde war mit seinen Benutzerdaten am Webshop angemeldet.<br>
{% else %}
    Der Kunde war nicht angemeldet.<br>
    Die AGBs wurden {{ customdata.orderdata.o_tos != 'y' ? 'nicht ' : '' }}akzeptiert.<br>
    Die Widerrufsbelehrung wurde {{ customdata.orderdata.o_cancellationdisclaimer != 'y' ? 'nicht ' : '' }}akzeptiert.<br>
{% endif %}

        {% include 'customer/customerform-adrform.twig'
%}<div class="pure-u-1 pure-u-md-2-5">
    </form><form action="{{ requesturiarray.path }}" method="post" class="pure-form pure-form-stacked">
        <input type="hidden" name="id" value="{{ customdata.orderdata.o_id }}">
    <div id="customerform-shad-wrapper">
        <fieldset>
            <div class="pure-u-1"><label for="shadm_remarks_internal">Bemerkungen intern</label>
                <textarea name="remarks_internal" id="shadm_remarks_internal" class="pure-u-1">{{ customdata.orderdata.o_remarks_internal }}</textarea></div>
            <div class="pure-u-1"><label for="shadm_transaction_no">Interne Vorgnr</label>
                <input type="text" name="transaction_no" value="{{ customdata.orderdata.o_transaction_no }}" id="shadm_transaction_no" class="pure-u-1"></div>
            <div class="pure-u-1"><label for="shadm_order_paymentcompleted">Zahlungsstatus</label>
                {% set orderform_paymentmethod_options = ['n|Offen', 'y|Bezahlt'] %}
                {{ macro.select('order_paymentcompleted', orderform_paymentmethod_options, customdata.orderdata.o_paymentcompleted, 'shadm_order_paymentcompleted', 'pure-u-1') }}</div>
            <div class="pure-u-1"><label for="shadm_order_completed">Status</label>
                {% set orderform_completed_options = ['n|'~T("order_status_open"), 'i|'~T("order_status_inwork"), 'y|'~T("order_status_completed"), 's|'~T("order_status_canceled"), 'd|'~T("order_status_deleted")] %}
                {{ macro.select('order_completed', orderform_completed_options, customdata.orderdata.o_ordercompleted, 'shadm_order_completed', 'pure-u-1') }}</div>
            <div class="pure-u-1"><label for="shadm_order_shipping_service">Paketdienst</label>
                {{ macro.select('order_shipping_service', customdata.orderdata.options_shippingservices, customdata.orderdata.o_shipping_service, 'shadm_order_shipping_service', 'pure-u-1') }}</div>
            <div class="pure-u-1"><label for="shadm_order_shipping_trackingno">Trackingnr</label>
                <input type="text" name="order_shipping_trackingno" value="{{ customdata.orderdata.o_shipping_trackingno }}" id="shadm_order_shipping_trackingno" class="pure-u-1"></div>
            <button type="submit" class="pure-button pure-button-primary pure-u-1" id="shadm_submit" name="change">Bearbeiten</button>
        {% if customdata.orderdata.o_remarks|trim != '' %}
    <div class="pure-u-1">
        Bemerkungen des Kunden:<br>
        <textarea readonly style="height: 150px;" class="pure-u-1">{{ customdata.orderdata.o_remarks }}</textarea>
    </div>
{% endif %}
        </fieldset>
    </form>
    </div>
    </div>

    Die folgenden Artikel wurden bestellt:<br>
    {% include 'shop/shoppingcarttable.twig' %}
    Die Bestellung wurde aufgegeben am: {{ customdata.orderdata.o_ordertimestamp|date("d.m.Y H:i") }}{{
customdata.orderdata.o_lastedit_timestamp != '' ? ', die letzte Bearbeitung erfolgte am: '~customdata.orderdata.o_lastedit_timestamp|date("d.m.Y H:i")~'.' : '.' }}
    {{ customdata.orderdata.o_lastedit_user != '<br>Die letzte Bearbeitung erfolgte durch: '~customdata.orderdata.o_lastedit_user ? '' : '' }}
    <br><br>
    {% if customdata.orderdata.o_paymentmethod != '' %}
    <strong>Die vom Kunden gewünschte Zahlungsmethode ist: {{ customdata.orderdata.o_paymentmethod }}</strong><br>
    {% if customdata.orderdata.o_paymentmethod == 'paypal' %}
        {% if customdata.orderdata.o_paymentcompleted == 'y' and customdata.orderdata.o_paypal_tx|trim != '' %}
            <div style="color: green; font-weight: bold;">Laut PayPal ist die Zahlung bereits erfolgt, die Transaktions ID des Vorgangs ist: {{ customdata.orderdata.o_paypal_tx }}</div>
        {% elseif customdata.orderdata.o_paymentcompleted == 'n' %}
            <div style="color: red; font-weight: bold;">Laut PayPal ist die Zahlung noch nicht erfolgt.</div>
        {% endif %}
    {% endif %}
    <br>
{% endif %}
    {{ customdata.orderdata.o_srv_hostname|trim != '' ? 'Die Bestellung wurde &uuml;ber die Domain: <strong>'~customdata.orderdata.o_srv_hostname~'</strong> aufgegeben.' : '' }}
{% endif %}
{{content}}
