<link rel="stylesheet" type="text/css" href="/screen-shc.css">
<table id="shctablehead">
    <tr>
        <td id="shctablecol1">{{T("shoppingcart_tablehead_namenr")}}</td>
        <td id="shctablecol2">{{T("shoppingcart_tablehead_amount")}}</td>
        <td id="shctablecol3">&nbsp;{% if (customdata.shoppingcart.readonly == true and customdata.shoppingcart.customergroup != '') %}
            &nbsp;&nbsp;&nbsp;&nbsp;RG / Rabatt
            {% endif %}</td>
        <td id="shctablecol4">{{T("shoppingcart_tablehead_itemprice")}}</td>
        <td id="shctablecol5">{{T("shoppingcart_tablehead_subtotal")}}</td>
    </tr>
</table>
{% for thiscartkey, thiscart in customdata.shoppingcart.cart %}
    {% if customdata.shoppingcart.readonly == false %}
        <form action="/_misc/update-cart.html" method="POST">
        {% if custom_order_fields is defined and custom_order_fields|length > 0 %}
            {% set thiscartkeys = thiscartkey|split('|') %}
            <input type="hidden" name="itemno" value="{{thiscartkeys[0]}}">
            {% for thiscartkeys_current in thiscartkeys %}
                {% set thiscartkeys_current_split = thiscartkeys_current|split(':') %}
                {% if thiscartkeys_current_split[0] in custom_order_fields %}
                    <input type="hidden" name="{{ thiscartkeys_current_split[0] }}" value="{{ thiscartkeys_current_split[1] }}">
                {% endif %}
            {% endfor %}
        {% else %}
            <input type="hidden" name="itemno" value="{{thiscartkey}}">
        {% endif %}
    {% endif %}
    <div class="shctext">{{thiscart.name}}</div>
    <table class="shctable">
        <tr>
            <td class="shctablecol1">
                {% if custom_order_fields is defined and custom_order_fields|length > 0 %}
                    {% set thiscartkeys = thiscartkey|split('|') %}
                    {{T("shoppingcart_item_itemno")}} {{thiscartkeys[0]}}
                    {% for thiscartkeys_current in thiscartkeys %}
                        {% set thiscartkeys_current_split = thiscartkeys_current|split(':') %}
                        {% if thiscartkeys_current_split[0] in custom_order_fields %}
                            {{ T("shoppingcart_item_" ~ thiscartkeys_current_split[0] )}} {{ thiscartkeys_current_split[1] }}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    {{T("shoppingcart_item_itemno")}} {{thiscartkey}}
                {% endif %}
            </td>
            <td class="shctablecol2">
                {% if customdata.shoppingcart.readonly != false %}
                    {{thiscart.amount}}x
                {% else %}
                    <input type="text" name="amount" maxlength="3" value="{{thiscart.amount}}" id="shcaddtocartamount">
                {% endif %}
            </td>
            <td class="shctablecol3">
                {% if (customdata.shoppingcart.readonly == true and customdata.shoppingcart.customergroup != '') %}
                    {% if thiscart.rg_rebate != '' %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{thiscart.rg}}
                        {{ thiscart.rg_rebate != '' and thiscart.rg != '' ? '/' : '' }}
                        {{thiscart.rg_rebate}}%
                    {% endif %}
                {% elseif customdata.shoppingcart.readonly == true %}
                    &nbsp;
                {% else %}
                    <input type="submit" name="{{T("shoppingcart_update_quantity")}}" value="{{T("shoppingcart_update_quantity")}}">
                {% endif %}
            </td>
            <td class="shctablecol4">{{thiscart.price.netto_use|number_format(2, ",", ".")}} {{currency}}</td>
            <td class="shctablecol5">
                {{(thiscart.price.netto_use * thiscart.amount)|number_format(2, ",", ".")}} {{currency}}
            </td>
        </tr>
    </table>
    {% if customdata.shoppingcart.readonly == false %}
        </form>
    {% endif %}
{% endfor %}
{% if customdata.shoppingcart.additionalcoststoitems.fMindergebuehr > 0 %}
    <table class="shctableminder">
        <tr>
            <td class="shctablecol1">{{T("shoppingcart_tablefoot_mindermengenzuschlag")}}</td>
            <td class="shctablecol5">
                {{customdata.shoppingcart.additionalcoststoitems.fMindergebuehr|number_format(2, ",", ".")}}
                {{currency}}
            </td>
        </tr>
    </table>
{% endif %}
{% if customdata.shoppingcart.additionalcoststoitems.fVersandkosten > 0 %}
    <table class="shctableminder">
        <tr>
            <td class="shctablecol1">{{T("shoppingcart_tablefoot_shippingcost")}}</td>
            <td class="shctablecol5">{{customdata.shoppingcart.additionalcoststoitems.fVersandkosten|number_format(2, ",", ".")}} {{currency}}</td>
        </tr>
    </table>
{% endif %}
<table id="shcsummary">
    <tr>
        <td>&nbsp;</td>
        <td id="shcsumtext">{{T("shoppingcart_tablefoot_sumnetto")}}</td>
        <td id="shcsumvalue">{{customdata.shoppingcart.additionalcoststoitems.fGesamtnetto|number_format(2, ",", ".")}} {{currency}}</td>
        {% if customdata.shoppingcart.additionalcoststoitems.fErm != 0 %}
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="shctaxtext">{{T("shoppingcart_tablefoot_mwsterm")}}</td>
        <td class="shctaxvalue">{{customdata.shoppingcart.additionalcoststoitems.fSteuererm|number_format(2, ",", ".")}} {{currency}}</td>
        {% endif %}
        {% if customdata.shoppingcart.additionalcoststoitems.fVoll != 0 %}
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td class="shctaxtext">{{T("shoppingcart_tablefoot_mwstvoll")}}</td>
        <td class="shctaxvalue">{{customdata.shoppingcart.additionalcoststoitems.fSteuervoll|number_format(2, ",", ".")}} {{currency}}</td>
        {% endif %}
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td id="shcbruttotext">{{T("shoppingcart_tablefoot_sumbrutto")}}</td>
        <td id="shcbruttovalue">{{customdata.shoppingcart.additionalcoststoitems.fGesamtbrutto|number_format(2, ",", ".")}} {{currency}}</td>
    </tr>
</table>
