{% macro select(name, values, default, id, class, readonly, rows, multipleselections, events) %}
    <select name="{{ name }}{{ readonly ? '_disabled' : '' }}"{{ id != '' ? ' id="'~id~'"' : '' }}
            {{ class != '' ? ' class="'~class~'"' : '' }}{{ readonly ? ' disabled' : '' }}{{ rows ? ' size="' ~ rows ~ '"' : '' }}
            {{ multipleselections ? ' multiple' : '' }}{{ events ? ' ' ~ events : '' }}>
        {% for value in values %}
            {% if "|" in value %}
                {% set splitvalue = value|split('|') %}
                <option value="{{splitvalue[0]}}"{{ splitvalue[0] == default ? ' selected' : '' }}>{{splitvalue[1]}}</option>
            {% else %}
                <option value="{{value}}"{{ value == default ? ' selected' : '' }}>{{value}}</option>
            {% endif %}
        {% endfor %}
    </select>
    {{ readonly ? '<input type="hidden" name="' ~ name ~ '" value="' ~ default ~ '">' : '' }}
{% endmacro %}
{% macro showClientTime() %}
<script type="text/javascript">
    <!--
    var Jetzt = new Date();
    var Tag = Jetzt.getDate();
    var Monat = Jetzt.getMonth() + 1;
    var Jahr = Jetzt.getYear();
    var Stunden = Jetzt.getHours();
    var Minuten = Jetzt.getMinutes();
    var Sekunden = Jetzt.getSeconds();
    var NachVollMinuten  = ((Minuten < 10) ? ":0" : ":");
    var NachVollSekunden  = ((Sekunden < 10) ? ":0" : ":");
    if (Jahr<2000) Jahr=Jahr+1900;
    document.write(Tag + "." + Monat + "." + Jahr + "  " + Stunden + NachVollMinuten + Minuten + NachVollSekunden + Sekunden);
    //-->
</script>
{% endmacro %}