<h1>{{T("userhome_headline")}}</h1>
<hr>
{% if customdata.userhome.display_logingreeting %}
<strong>{{T("login_welcome")}}</strong><br><br>
{% endif %}
<h3>{{T("userhome_subheadline")}}</h3>
<hr>
{{ customdata.userhome.infopasswordchanged ? T("userhome_info_passwordchanged") ~ '<br>' : '' }}
{{ customdata.userhome.infochangessaved ? T("userprofile_changessaved") ~ '(' ~ macro.showClientTime() ~ ')<br>' : '' }}
{{ customdata.userhome.infonothingchanged ? T("userprofile_nothingchanged") ~ '<br>' : '' }}

{% include 'customer/customerform.twig' %}

{% if customdata.userhome.showprofilelinks %}
<hr>
<a href="{{requesturiarray.path}}?editprofile">{{T("userprofile_editlink")}}</a>
&middot;
<a href="/_misc/myorders.html">{{T("userprofile_myorders")}}</a>
{% endif %}

