{{content}}

{% if customdata.forgotpw.showsuccessmessage is defined and customdata.forgotpw.showsuccessmessage %}
    <br><br>
    {{T("forgotpw_success")}}
{% else %}
    <h1>{{T("forgotpw_greeting")}}</h1>
    {% if customdata.forgotpw.errors is defined and customdata.forgotpw.errors|length > 0 %}
        <div id="forgotpwform-errors">
        {% for error in customdata.forgotpw.errors %}
            {{ T("forgotpw_error_" ~ error) }}<br>
        {% endfor %}
        </div>
    {% endif %}
    <form name="forgotpw" id="forgotpwform" method="post" action="{{ requesturi }}" class="pure-form pure-form-stacked">
        <input type="hidden" name="doSend" value="yes">
        <fieldset id="forgotpwform-fieldset">
            <label for="forgotpwform-email">{{ T("forgotpw_label_email") }}</label>
            <input type="email" name="email" id="forgotpwform-email" value="{{ gFF("email") }}" class="pure-u-1 pure-u-md-1-2">
            <button type="submit" class="pure-button pure-button-primary pure-u-1 pure-u-md-1-2" id="forgotpwform-submit">{{ T("forgotpw_label_submit") }}</button>
        </fieldset>
    </form>
{% endif %}
