{{content}}

{% if customdata.forgotpw.showsuccessmessage is defined and customdata.forgotpw.showsuccessmessage %}
    <br><br>
    {{T("forgotpw_success")}}
{% else %}
    <h1>{{T("forgotpw_greeting")}}</h1>
    {% if customdata.forgotpw.errors is defined and customdata.forgotpw.errors|length > 0 %}
        <div id="forgotpwform-errors">
        {% for error in customdata.forgotpw.errors %}
            {{ T("forgotpw_error_" ~ error) }}<br>
        {% endfor %}
        </div>
    {% endif %}
    <form name="forgotpw" id="forgotpwform" method="get" action="{{ requesturi }}">
        <input type="hidden" name="doSend" value="yes">
        <fieldset id="forgotpwform-fieldset">
            <label for="forgotpwform-email">{{ T("forgotpw_label_email") }}</label>
            <input type="email" name="email" id="forgotpwform-email" value="{{ gFF("email") }}"><br>
            <input type="submit" id="forgotpwform-submit" value="{{ T("forgotpw_label_submit") }}">
        </fieldset>
    </form>
{% endif %}
