{% if isloggedin %}
    <a href="/_misc/userhome.html" class="pure-button button-green">{{ T("nav_myaccount") }}</a>
    <a href="/_misc/logout.html" class="pure-button button-orange">{{ T("nav_logout") }}</a>
{% else %}
    <a href="/_misc/register.html" class="pure-button button-orange pure-u-23-24 pure-u-md-12-24 button-head" id="button-register"><i class="fa fa-user"></i> {{ T("nav_register") }}</a>
    <form action="/_misc/login.html" method="POST" name="login">

        {{ T("nav_login") }}

        {{ T("misc_login") }}<br>
        <input type="hidden" name="sAction" value="login">
        <input type="text" name="user" value="" id="loginform-user" placeholder="{{ T("misc_loginform_username") }}">
        <input type="password" name="password" value="" id="loginform-password" placeholder="{{ T("misc_loginform_password") }}">
        <input type="submit" alt="" id="loginform-submit" value="Submit">
    </form>
    <a href="/_misc/forgotpassword.html" id="loginform-forgotpassword">{{ T("misc_loginform_forgotpassword") }}</a>
{% endif %}

{{content}}

