{{content}}

{% if customdata.pwreset.showsuccessmessage is defined and customdata.pwreset.showsuccessmessage %}
    <br><br>
    {{T("pwreset_success")}}
{% else %}
    <h1>{{T("pwreset_greeting")}}</h1>
    {% if customdata.pwreset.errors is defined and customdata.pwreset.errors|length > 0 %}
        <div id="pwresetform-errors">
        {% for error in customdata.pwreset.errors %}
            {{ T("pwreset_error_" ~ error) }}<br>
        {% endfor %}
        </div>
    {% endif %}
    <form name="pwreset" id="pwresetform" method="post" action="{{ requesturi }}">
        <input type="hidden" name="doSend" value="yes">
        <fieldset id="pwresetform-fieldset">
            <div id="pwresetform-info-pwlength">{{ T("pwreset_info_1") }} {{ customdata.pwreset.minpwlength }} {{ T("pwreset_info_2") }}</div>
            <label for="pwresetform-pwd">{{ T("pwreset_label_pwd") }}</label>
            <input type="password" name="pwd" id="pwresetform-pwd" value="{{ gFF("pwd") }}"><br>
            <label for="pwresetform-pwdc">{{ T("pwreset_label_pwdc") }}</label>
            <input type="password" name="pwdc" id="pwresetform-pwdc" value="{{ gFF("pwdc") }}"><br>
            <input type="submit" id="pwresetform-submit" value="{{ T("pwreset_label_submit") }}">
        </fieldset>
    </form>
{% endif %}
